<p>login works!</p>
<button (click)="getName('Anoy')">Get my name</button>
<button (click)="myEvent('this is a click event')">click me</button>
<br> <br>
<input type="text" #box (keyup)="myEvent(box.value)"> <br>
<input type="text" #box (keyup.enter)="myEvent(box.value)">
<br><input type="text" #box (keyup.space)="myEvent(box.value)"> <br>
<input type="text" #box (blur)="myEvent('blur event')">
<br> <br>

<input type="text" #box>
<button (click)="getVal(box.value)" >Get Value</button>

<h2>ssss{{box.value}}</h2>

<input type="text" [disabled]="disabledBox" [value]="name"> <br>
<input type="text" disabled={{disabledBox}} value={{name}}> <br>
<button (click)="enableBox">Enable text box</button>


<h1 *ngif="show" >If Block</h1>

<div [ngSwitch]="color">
    <h2 style="color:red"; *ngSwitchCase="'red'">
        red color
    </h2>
    <h2 style="color:rgb(0, 255, 34)"; *ngSwitchCase="'red'">
        green color
    </h2>
    <h2 style="color:rgb(25, 0, 255)"; *ngSwitchCase="'green'">
        blue color
    </h2>
    <h2 style="color:rgb(255, 208, 0)"; *ngSwitchCase="'blue'">
        yellow color
    </h2>
    <h2 style="color:rgb(110, 101, 101)"; *ngSwitchCase="'gray'">
        default color
    </h2>
</div>